<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>Label</key>
    <string>org.kochtobi.mount-time-machine.plist</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/sbin:/bin:/usr/bin:/usr/local/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/mounting-skript.sh</string>
        <string>smb://my-workdgroup-storage <!-- your workgroup storage.de: CHANGE ME --></string>
        <string>time-machine <!-- your dmg name: CHANGE ME --></string>
        <string>abc123 <!-- your username on the workgroup storage: CHANGE ME --></string>
        <string>134.2.<!-- your IP address, can be a prefix or any other greppable elements e.g. "134.2." --></string>
    </array>    
    <key>WorkingDirectory</key>
    <string>/tmp</string>
    <key>StandardErrorPath</key>
    <string>/tmp/org.kochtobi/mount-time-machine.error.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/org.kochtobi/mount-time-machine.out.log</string>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    </dict>
</plist>